
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  font-family: 'Roboto', sans-serif; /* Default font */
  margin: 0;
  padding: 0;
  color: #454545;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;
  font-weight: 700;
}


.navbar-nav .nav-item {
  margin-right: 20px; /* Adds space between menu items */
}






.hero {
    background-color: #926AA6;
    padding: 80px 0 20px;
}

h2 {
  font-size: 2.5em;
  font-weight: 400;
}

.hero-container {
    height: 600px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;  
    max-width: 1440px;
   
}

.hero-container img {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}
  
  
  .hero-text h1 {
    font-size: 3.5rem;
    margin-bottom: 26px;
    color:white;
    font-weight: 800;
}
  
  .hero-text p {
    margin-bottom: 24px;
    color:white;
    width: 80%;
}


/* service */

.services {
    background-color: #f6f6f6;
}

.services-header {
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
    margin-left: auto;
    margin-right: auto;
}

.services-header h2 {
  padding-top: 60px;
  padding-bottom: 40px;

}

.service-headline {
  color: #926AA6;
  font-size: 1.5em;
  padding: 20px 0;

}


.service-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    max-width: 1440px;
    height: 550px;
    padding-bottom: 50px;
    padding-top: 30px;
}


.column {
    flex: 1;
    padding-right: 40px;
    text-align: center;
}

.column img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}


.service-body {
  color:gray;
  height: 90px;
}


/* about us */
.about-us {
    background-color: white;

}

.about-container {
    height: 600px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 80px;  
    max-width: 1440px;
}

.about-container img {
    height: 70%;
    border-radius: 20px;
  }
  
  .about-text {
    width: 100%
  }
  
  .about-text h2 {
    margin-bottom: 32px;
  }
  
  .about-text p {
    font-size: 1rem;
    margin-bottom: 28px;
    color:gray;

  }



.reviews {
    background-color: #f6f6f6;
}

.review-header {
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */

    padding-top: 50px;
}


.review-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 300px;
    gap: 30px;
}



.section-body {
  color: gray;
}


.visit-us {
    background-color: white;

}

.visit-container {
    height: 600px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;  
    max-width: 1440px;
}


.visit-text {
    width: 40%;
}
  
.visit-text h2 {
    margin-bottom: 32px;
}
  
.visit-text p {
    font-size: 1rem;
    margin-bottom: 28px;
    color:gray;

}


/* Parent container for the iframe */
.map-container {
  position: relative;
  width: 100%; /* Full width */
  padding-top: 35%; /* Aspect ratio 16:9 */
  overflow: hidden; /* Ensures no extra content is visible */
  max-height: 300px;
}

/* Iframe styling for responsiveness */
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width of the parent */
  height: 100%; /* Full height of the parent */
  border: 0; /* Remove borders */
}








/* newsletter section */

.newsletter {
  background-color: #926AA6;

}

.newsletter-container {
  height: 500px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;  
  max-width: 1440px;
  justify-content: center;
}


.newsletter-text {
  width: 40%;
  
}

.newsletter h1 {
  font-size: 3.3rem;
  margin-bottom: 12px;
  color:white;
  text-align: center;
}

.newsletter p {
  font-size: 1rem;
  margin-bottom: 12px;
  color:white;
  text-align: center;

}

.newsletter-column {
  display: flex;
  flex-direction: column;

}


.text {
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark text color */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
  height: 50px; /* Adjust height */
  padding: 10px; /* Ensure content is spaced inside */
}

#newsletter-form input {
  margin-bottom: 15px; /* Adds spacing below each input field */
  border-radius: 5px;
  border-color: white;
  height: 40px;
}

.newsletter-column input {
  margin-top: 10px; /* Adds spacing above the inputs in the newsletter column */
}


.footer-container {
  padding: 50px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;  
  max-width: 1440px;
}


.footer-info {
  width: 50%;
  margin-left: auto;
}


/* Three Columns Section */
.three-column {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex: 1;
  text-align: left;
}

.section-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.section-body {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 15px;

}

.footer-info a {
  color: #926AA6;
  text-decoration: underline;
  transition: color 0.3s ease;
}




/* Footer Logo Section */
.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-links {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.footer-logo img {
  width: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
}


.footer-body {
  text-align: center;
}

.footer-header {
  text-align: center;
}















/* buttons */



/* Primary Button */
.btn-main {
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  width: 200px;
  background-color: white;
  color: #926AA6;
  border: 2px solid #926AA6;
  padding: 10px 20px;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.btn-main:hover {
  background-color: #926AA6; /* Purple background on hover */
  color: white; /* White text on hover */
  border: 2px solid white; /* Border changes to white */
}


/* Secondary Button */
.custom-btn {
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  width: 200px;
  background-color: transparent; 
  color: #926AA6; 
  border: 2px solid #926AA6;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover Effect */
.custom-btn:hover {
  background-color: #926AA6; 
  color: white; 
  border-color: #926AA6;
}


.btn-nav {
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  width: 150px;
  background-color: #926AA6;
  color: white;
  border: 2px solid #926AA6;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.btn-nav:hover {
  background-color: transparent;
  color: #926AA6;
  border: 2px solid #926AA6;
}





/* responsive */
  @media (max-width: 884px) {
    .hero-container {
      margin-top: 10px;
      flex-direction: column;
    }
    .hero-text {
      width: 100%;
      text-align: center;
    }
    .hero-text h1 {
      font-size: 3rem;
    }
}
  
  @media (max-width: 678px) {
    .hero-text h1 {
      font-size: 2rem;
    }
  }
  @media (max-width: 428px) {
    nav ul {
      display: none;
    }
  }

